
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Times New Roman', serif;
  background-color: #191523; 
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #b56dff;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #1e1523;
}
html, body, #root {
  height: 100%;
}

.scroll-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.scroll-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
